<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">
	<test name="Test">
		<classes>
			<class name="testdrivers.DemoQA_FillForm_and_Register">
				<methods>
					<include name="validatePageTest" />
					<include name="fillUpFormTest" />
					<include name="uploadImageAndSubmitDataTest" />
				</methods>
			</class>
			<class name="testdrivers.ActitimeProcessingTest">
				<methods>
					<include name="loginToActitime" />
					<include name="validateLoggedInUser" />
					<include name="logUsersFromThePage" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
